.container{
flex: 1 1 0;
width: 100%;
/* height:100%; */
display: flex;
flex-flow: column wrap;
/* justify-content: center; */
align-items: center;
}
.header{
height:80px;
width:100%;
display:flex;
flex-flow:row nowrap;
justify-content: space-between;
align-items: center;
line-height: 20px;
background-color: rgba(255, 255, 255, 1);
}
.h_login{
    min-width:60px;
    /****最小宽度乘以6/9 */
    width:3.22rem;
    /* height:100%; */
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0);
    color:rgba(255, 255, 255, 1);
    font-size: 0.5715rem;
    text-align: center;
    /* font-family: Roboto; */
    border: 1px solid rgba(0, 0, 0, 0.01);
    font-weight:550;
  }
.h_login:hover{
    opacity: 0.7;
    cursor:pointer;
}
.h_avatarUrl{
    height: 1.8rem;
    width: 1.8rem;
    border: 1px solid #f1f1f1;
    border-radius: 1rem;
    overflow: hidden;
}
.reminder{
    width: 24px;
    height: 24px;
    background-image: url(../public/reminder.png); 
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.7rem;
  }
.downArrow{
    width: 18px;
    height: 18px;
    background-image: url(../public/downArrow.png); 
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0.5rem;
}
.h_avatarUrl img{
    width: 1.8rem;
    height: 1.8rem;
}
.logo_LensView{
    width: 9%;
    min-width:84.67px;
    height: 41px;
    margin-left: 7%;
    font-family: SourceHanSansSC-regular;
    line-height: 41px;
    font-weight:600;
}
.options{
    width: 23.9%;
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.572rem;
    font-family: SourceHanSansSC-regular;
    text-align: center;
    /* margin-top: 0.4rem; */
}
.search{
    /* margin-top: 0.4rem; */
    width: 9rem;
    height: 32px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 1rem;
    font-size: 0.715rem;
}
.searchIcon{
    margin-left: 0.3rem;
    width: 16px;
    height: 16px;
    background-image: url(../public/search.png); 
    background-repeat: no-repeat;
    background-size: cover;
}
.myHome{
    height: 41px;
    min-width: 100px;
    width:16%;
    margin-right: 7%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}
.myProfile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}
.downArrow:hover{
    opacity: 0.7;
    cursor:pointer;
}
.reminder:hover{
    opacity: 0.7;
    cursor:pointer;
}
}
.body1{
height:335px;
width:100%;
background-image: url(../public/homeBg.png); 
background-repeat: no-repeat;
background-position: 0% 35%;
background-size: cover;
background-attachment:scroll;
filter:brightness(0.9);
opacity: 0.8;
/* padding:0 3.5714rem; */
} 

.body2{
    height: 484px;
    padding-left: 1.78rem;
    padding-right: 1.78rem;
    width:100%;
    display: flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-items:center;
    background-color: rgba(255, 255, 255, 1);
}

.brochureItem{
margin-top: 1.86rem;
margin-left: 1.78rem;
margin-right: 1.78rem;
height:15.14rem;
width:12.14rem;
/* background: #f1f1f1; */
}
.brochureBg{
width: 12.14rem;
height: 12.14rem;
background-image: url(../public/brochureBg.png); 
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}
.brochureContral{
display: flex;
flex-flow: row nowrap;
width: 7rem;
height: 3rem;
justify-content: flex-end;
align-items: center;
}
.brochureContralView{
width: 1rem;
height: 1rem;
background-image: url(../public/view.png); 
background-repeat: no-repeat;
background-size: cover;
margin: 0 0.3rem;
}
.brochureContralDel{
width: 1rem;
height: 1rem;
background-image: url(../public/delete.png); 
background-repeat: no-repeat;
background-size: cover;
margin: 0 0.3rem;
}
.brochureContralDel:hover{
opacity: 0.7;
cursor:pointer;
}
.brochureContralEdit{
width: 1rem;
height: 1rem;
background-image: url(../public/edit.png); 
background-repeat: no-repeat;
background-size: cover;
margin: 0 0.3rem;
}
.brochureContralEdit:hover{
opacity: 0.7;
cursor:pointer;
}
/* .brochureMedia{
position: absolute;
height: 1.25rem;
width: 7.32rem;
left: 2.35rem;
top: 1.4rem;
display: flex;
flex-flow: row nowrap;
justify-content: space-evenly;
align-items: center;
padding: 0 0.3rem;
} */
.brochureMediaShare{
width: 1rem;
height: 1rem;
background-image: url(../public/share.png); 
background-repeat: no-repeat;
background-size: cover;
margin: 0 0.3rem;
}
.brochureImg{
width: 6.1rem;
height: 6.1rem;
border: 1px solid white;
object-fit: cover;
-webkit-user-drag: none;
}
.brochureImg:hover{
cursor:pointer;
filter:brightness(0.8)
}
.brochureArea{
width: 12.14rem;
height: 3rem;
overflow: hidden;
font-size: 0.64rem;
font-family: SourceHanSansSC-regular;
display: flex;
flex-flow:row nowrap;
justify-content: space-between;
align-items: center;
}
@media screen and (max-width:600px){
    .header{
        height: 60px;
    }
    .logo_LensView{
        margin-left: 2%;
    }
    .myHome{
        margin-right: 2%;
    }
    .body1{
        height: 177px;
    }
    .options{
        display: none;
    }
    .body2{
        padding-left: 1.78rem;
        padding-right: 1.78rem;
        width:100%;
        display: flex;
        flex-flow:row wrap;
        justify-content: center;
        align-items:center;
        background-color: rgba(255, 255, 255, 1);
      }
  }